/* 
    Document   : stylesCommon.css
    Created on : October 2015
    Author     : NextGen Solutions
*/

article, header, footer, figure, section, form
{
    display: block;
}

body
{
    margin: 0px auto;
    padding-top: 10px;
    width: 98%;
    max-width: 950px;
    min-width: 250px;
    
    font-family: Verdana, Geneva, sans-serif;
    font-size: 125%;
    line-height: 1.5em;
    position: relative;
}

#bg-right 
{
  background:rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 84.32%;
  right: 0;
  z-index: -1;
  margin-top: 9px;
}
#bg-left 
{
  background:rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 82.99%;
  z-index: -1;
  margin-top: 9px;
}
.image 
{ 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 
{ 
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
   text-align: left;
}

h2 span 
{ 
   color: white; 
   size: 200px;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 5px; 
}

h2 span.spacer 
{
   padding:0 5px;
}

section
{
   margin:36px;
}

nav
{
   width: 200px;
   float:left;
   margin-right: 30px;
}

nav ul
{
   color: white; 
   size: 200px;
   letter-spacing: -1px;  
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 5px; 
   list-style: none;
}

nav ul li:hover
{
   background-color: Black;
}

nav ul li:first-of-type
{
   text-transform: uppercase;
}

nav ul li a
{
   color: white;
   text-decoration: none;
}

table
{
   border-width: 6px;
   border-style: outset;
   border-color: rgb(55, 102, 55);
   border-collapse: collapse;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 0.85em;
   line-height: 1.3em;
   width: 100%
}

table col.firstcol
{
   width: 37%;
}

table tbody td:first-of-type
{
   font-weight: 600;
}

table tbody td:nth-of-type(2)
{
   font-style: italic;
}
table th, table td
{
   border: 1px solid gray;
}

table thead
{
   background-color: rgb(206, 164, 75);
}

table caption
{
   font-weight: bold;
   font-size: 1.2em;
}

table tbody td
{
   padding: 5px;
   vertical-align: top;
}

table tbody tr:nth-of-type(odd)
{
   background-color: rgb(213, 213, 184);
}

table tbody tr:nth-of-type(even)
{
   background-color: rgb(215, 230, 220);
}

table#allMovies
{
   width: 70%;
   margin: 0px auto;
}

table#allMovies td
{
   font-style: normal;
}

table#merchandise
{
   border-style: hidden;
   width: 70%;
   margin: 0px auto;
}

table#merchandise tbody tr
{
   background-color: white;
   border-style: hidden;
   height: 100px;
}

table#merchandise tbody td
{
   border-style: hidden;
   text-align: center;
   padding-bottom: 20px;
}

figure
{
   text-align: center;
}

figure img
{
   height: 300px;
   width: 250px;
}

article#MovieDetail
{
   margin: 20px;
}

article#MovieDetail dt
{
   font-weight: bold;
}

article#MovieDetail dd
{
   font-style: italic;
}

article#MovieDetail p
{
   text-align: center;
}

#error
{
   background-color: red; 
   border-width: 1px; 
   border-color: orange; 
   border-style: solid;
   text-align: center;
   width: 50%;
   margin:0px auto;
}

footer
{
   clear: both;  
 
}

footer address
{
   color:  rgb(0, 0, 0); 
   size: 200px;
   letter-spacing: -1px;  
 
   padding: 5px; 
   font-style: normal;
   font-variant: small-caps;
   font-size: 0.9em;
   line-height: 2em;
   font-family: 'Times New Roman', Times, Serif;
   text-align: center;
 
}

/* article#searchCriteria */
form
{
   margin:0px auto;
   width: 70%;
   float: left;
}

form#loginForm
{
  width:70%;
  float:left;
}

form#editRecipe
{
   margin:0px auto;
   width: 70%;
   float: left; 
}

form#addUserForm
{
  float:right;
}

label
{
  clear: left;
  display: block;
  float: left;
  width: 30%;
  margin:10px 0px;
  font-weight: bold;
}

input
{
   display: block;
   float: left;
   width: 60%;
   height: 30px;
   font-size: 1.2em;
   margin:10px 0px;
   height: 40px;
   width: 180px;
}

input.ten
{
   width: 25%
}

input.twenty
{
   width: 50%
}

input#state
{
   width: 5%;
}

input#mailinglist
{
   width: 3%;
}

#searchmaxrows
{
   width:5%;
}

textarea
{
   display: block;
   float: left;
   width: 60%;
   height: 130px;
   font-size: 1.2em;
   margin:10px 0px;
}

input.sm
{
   width: 30%;
}

select
{
   display: block;
   float: left;
   font-size: 1.2em;
   margin:10px 0px;
}

form p
{
   clear:both;
   text-align: center;
}

input[type="submit"]
{
   display: inline;
   float:left;
   height: 40px;
   width: 180px;
   margin-top: 4em;
}

input#edit
{
   display: inline;
   height: 40px;
   width: 180px;
   margin-top:55px ;
}

input#proceed
{
   width: 210px;
}

.err
{
   float: left;
   margin-left: 10px;
   color: red;
   display: none;
}
